*,
:before,
:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-size: rem(18);
  min-height: 100%;
  font-family: $ff-main;
  background-color: $primary;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  list-style-type: circle;
  // margin: 0;
  // padding: 0;
}

.js-animate-in,
.js-animate-in-children > * {
  opacity: 0;
  transform: translateY(rem(20));

  .no-js & {
    opacity: 1;
  }
}