h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 20cqw;
  font-weight: 600;
  @include media($m-screen-up) {
    font-size: 14cqw;
  }
}


p {
  margin: 0;
  line-height: 1.2;
  font-size: rem(21);
  line-height: 110%;
  @include media($m-screen-up) {
    font-size: rem(36);
  }
}