p {
  margin: 0;
  line-height: 1.2;
  font-size: rem(21);
  line-height: 110%;
  @include media($m-screen-up) {
    font-size: rem(36);
  }
}

.p-small {
  font-size: rem(16);
  @include media($m-screen-up) {
    font-size: rem(21);
  }
}

.p-large {
  font-size: rem(36);
  @include media($m-screen-up) {
    font-size: rem(80);
  }
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
}

h1 {
@include h1Large;
}

.h1-medium {
  @include h1Medium;
}

h2 {
  font-size: rem(30);
  line-height: 1.2;
  @include media($m-screen-up) {
    font-size: rem(60);
  }
}

h3 {
  font-size: rem(18);

  @include media($m-screen-up) {
    font-size: rem(27);
  }
}

h4 {
  font-size: rem(25);

  @include media($m-screen-up) {
    font-size: rem(48);
  }
}

// h5 {
//   font-size: rem(20);

//   @include media($m-screen-up) {
//     font-size: rem(32);
//   }
// }

// h6 {
//   font-size: rem(18);

//   @include media($m-screen-up) {
//     font-size: rem(26);
//   }
// }
