p {
  font-family: $font-body;
  margin: 0;
  line-height: 1.2;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: rem(36);

  @include media($m-screen-up) {
    font-size: rem(72);
  }
}

h2 {
  font-size: rem(32);

  @include media($m-screen-up) {
    font-size: rem(64);
  }
}

h3 {
  font-size: rem(28);

  @include media($m-screen-up) {
    font-size: rem(56);
  }
}

h4 {
  font-size: rem(24);

  @include media($m-screen-up) {
    font-size: rem(48);
  }
}

h5 {
  font-size: rem(20);

  @include media($m-screen-up) {
    font-size: rem(32);
  }
}

h6 {
  font-size: rem(18);

  @include media($m-screen-up) {
    font-size: rem(26);
  }
}
