<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title }}" />
    <meta property="og:type" content="{{ site.type }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% webpack 'main.css' %}">
    
  </head>
  <body data-barba="wrapper">
    <div class="load-container">
      <div class="loading-screen"></div>
    </div>

    <div id="smooth-wrapper">
      <div id="smooth-content">
        {% include "partials/header.njk" %}
          <main id="main-content" tabindex="-1" class="wrapper" data-barba="container" data-barba-namespace="home-section">
            {{ content | safe }}
          </main>
        {% include "partials/footer.njk" %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script async defer src="{% webpack 'main.js' %}"></script>
  </body>
</html>
