---
layout: default
title: Project
---

<section class="hero hero-project">
  <div class="hero__container">
    <h1 class="hero__header-1 h1-medium js-animate-in">{{ projectTitle }}</h1>
    <div class="hero-project__cta js-animate-in">
      <p class="hero-project__sub-header js-animate-in">{{ projectSubtitle }}</p>
      <a class="button hero-project__button js-animate-in" href="{{ project.url }}">
        <span>
          Launch project<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </a>
    </div>
  </div>
  <p class="hero__scroll p-small">Scroll for details</p>
</section>

<div class="divider"></div>
{% include "partials/image-full.njk" %}
{% include "partials/text-section.njk" %}
{% include "partials/technologies.njk" %}