---
layout: default
title: Project
openingText: In this project I was required to build a still-stack website based around business logic used to control a centrally-owned dataset.
projectText: Magnetic Eyes Lashes is a responsive, custom-built website, designed and built with the users wants and needs first, whilst maintaining a high design standard and ease of use. The site uses an authentication mechanism and provides a payment service to purchase its products. For the site owner, it uses a central database to manage the websites products and a blog section for marketing purposes
---

<section class="hero">
  <div class="hero__container">
    <h1 class="hero__header-1 hero__text">{{ projectTitle }}</h1>
    <div class="hero__sub-header">
      <p class="hero__text">{{ projectSubtitle }}</p>
      <a class="button hero__button" href="{{ project.url }}">
        <span>
          Launch project<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </a>
    </div>
  </div>
  <p class="hero__scroll p-small">Scroll for details</p>
</section>
<div class="divider"></div>

<section class="project">
  <div class="project__container">

    <!-- Image -->
    <div class="image-full">
      <div class="image-full__container">
        <div class="image-full__image">
          <img src="/assets/images/project-1.png" alt="">
        </div>
      </div>
    </div>

    <!-- Text Section -->
    <section class="text-section">
      <div class="text-section__container">
        <h2 class="text-section__intro">{{ openingText }}</h2>
        <div class="text-section__copy">
          <p>{{ projectText }}</p>
        </div>
      </div>
    </section>
  </div>
</section>