---
layout: default
title: Training
header: Title of project to be added here
subheader: A bit more information on the project to be added here
---

{% include "partials/hero-alt.njk" %}

<div class="divider"></div>
{% include "partials/image-full.njk" %}
{% include "partials/text-section.njk" %}
{% include "partials/technologies.njk" %}
<div class="divider"></div>