<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137 137">
  <g id="Page-1" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
    <g id="shapes" fill="#9FCFC3" fill-rule="nonzero" transform="translate(-82 -270)">
      <g id="Graphic_Element" transform="translate(82.444 71.131)">
        <path id="Path" d="M136.512 250.34H85.081v-51.432h-33.65v51.432H0v33.649h51.431v51.432h33.65v-51.432h51.431z"/>
      </g>
    </g>
  </g>
</svg>
