.image-oval {
  min-height: rem(350);
  aspect-ratio: 3/4;
  position: relative;

  @include media($m-screen-up) {
    min-height: rem(400);
  }
}

.image-oval__image {
  height: 100%;
}

.image-oval__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-oval__second {
  top: rem(4);
  left: rem(4);
  z-index: 2;
  background-color: $primary;
  @include media($m-screen-up) {
    top: rem(13);
    left: rem(13);
  }
}

.image-oval__first,
.image-oval__second,
.image-oval__third {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: rem(1000);
}

.image-oval__first {
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
  border: rem(4)solid $dark;
}

.image-oval__third {
  top: rem(12);
  left: rem(12);
  z-index: 1;
  background-color: black;
  @include media($m-screen-up) {
    top: rem(35);
    left: rem(35);
  }
}
