.cta {
  background-color: $dark;
  color: $light;
  padding: calc(#{$gtr} * 4) $gtr;
  cursor: pointer;

  @include media($m-screen-up) {
    padding: calc(#{$gtr} * 6) 0;
  }

  &:hover {
    background-color: transparent;
    color: $dark;
  }
}

.cta__container {
  @include wrapper;
}

.cta__container p {
  font-size: rem(60);
  text-align: center;

  @include media($m-screen-up) {
    font-size: rem(110);
    
  }
}