.cv {
  @include wrapper;
}

.cv__container {
  @include verticalPadding;
  @include grid;
  @include rowGap(calc(#{$gtr} * 2));
}

.cv__header {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.cv__items {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.cv__dates {
  padding: $gtr 0 calc(#{$gtr} * 2) 0;
}