.cv {
  @include wrapper;
}

.cv__container {
  @include grid;
  @include rowGap($gutter-large);
}

.cv__header {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.cv__items {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}

.cv__dates {
  padding: $gutter 0 $gutter-large 0;
}