.footer {
  @include wrapper;
  color: $dark;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $gutter;
  padding: calc(#{$gutter} / 3) 0;
  @include media($m-screen-up) {
    flex-direction: row;
  }
}

.footer__right-items {
  display: flex;
  flex-direction: row;
}

.footer__right-span {
  padding: 0 calc(#{$gutter} / 3);
}

.footer__right-items li {
  // a {
  //   text-decoration: none;
  // }

  // a:hover {
  //   text-decoration: underline;
  // }
}