.header {
  @include wrapper;
  padding-bottom: 0;
  color: $dark;
  width: 100%;
  line-height: 1.1;
  padding-bottom: 0;
 }

.header :focus {
  outline-color: blue;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  padding-bottom: $gutter;
  z-index: 10;
}

.header__brand {
  font-size: rem(32);
  text-decoration: none;
  z-index: 5;
}

.hero__scroll {
  padding-bottom: $gutter;
}