.hero-about__header {
  @include media($m-screen-up) {
    grid-column: 1 / span 6;
  }
  @include media($l-screen-up) {
    grid-column: 2 / span 3;
  }
}

.hero-about__image {
  display: flex;
  justify-content: center;
  padding-top: calc(#{$gutter} * 2);
  padding-bottom: calc(#{$gutter} * 2);
  @include media($m-screen-up) {
    display: block;
    grid-column: 1 / span 5;
    padding-bottom: 0;
  }
  @include media($l-screen-up) {
    grid-column: 5 / span 4;
  }
}

.hero-about__sub-heading {
  @include media($m-screen-up) {
    align-self: end;
    grid-column: 7 / span 5;
  }
  @include media($l-screen-up) {
    align-self: end;
    grid-column: 9 / span 3;
  }
}

.hero-about__scroll {
  padding-bottom: $gutter;
}