.hero {
  @include wrapper;
  position: relative;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media($m-screen-up) {
    height: 80vh;
  }
}

.hero__container {
  @include grid;
  @include rowGap;
  container-type: inline-size;
  padding-top: calc(#{$gtr} * 3);
  padding-bottom: calc(#{$gtr} * 3);

  @include media($s-screen-up) {
    padding-top: calc(#{$gtr} * 3);
    padding-bottom: calc(#{$gtr} * 3);
  }

  @include media($m-screen-up) {
    grid-column: 2 / span 5;
  }

  @include media($xxl-screen-up) {
    padding-top: $gtr;
  }
}

.hero__header-1 {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 2 / span 12;
  }
}

.hero__header-2 {
  grid-row: 2;
  grid-column: 2 / span 5;
  @include media($s-screen-up) {
    grid-column: 2 / span 11;
  }
  @include media($m-screen-up) {
    grid-column: 3 / span 10;
  }
  @include media($l-screen-up) {
    grid-column: 3 / span 10;
  }
  @include media($xl-screen-up) {
    grid-column: 4 / span 9;
  }
}


.hero__sub-header {
  grid-row: 3;
  grid-column: 1 / span 12;
  padding-top: calc(#{$gtr} * 2);
  @include media($m-screen-up) {
    grid-column: 7 / span 5;
  }
}

.hero__cta {
  grid-row: 3;
  grid-column: 1 / span 12;
  padding-bottom: calc(#{$gtr} * 2);
  @include media($m-screen-up) {
    grid-column: 9 / span 4;
  }
}

.hero__scroll {
  @extend .p-small;
  
  @include media($l-screen-up) {
    padding-bottom: $gtr;
  }
}