.hero-project__cta {
  grid-row: 3;
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 9 / span 4;
  }
}

.hero-project__sub-header {
  padding-bottom: calc(#{$gutter} / 2);
}