.hero {
  @include wrapper;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media($m-screen-up) {
    min-height: 80vh;
  }
}

.hero__container {
  @include grid;
  @include rowGap;
  padding: calc(#{$gutter} * 3) 0;
}

.hero__header-1 {
  grid-column: 1 / span 5;
  @include media($m-screen-up) {
    grid-column: 2 / span 5;
  }
}

.hero__header-2 {
  grid-row: 2;
  grid-column: 4 / span 5;
  @include media($s-screen-up) {
    grid-column: 4 / span 5;
  }
}

.hero__sub-header {
  grid-row: 3;
  grid-column: 1 / span 12;
  padding-top: calc(#{$gutter} * 2);
  @include media($m-screen-up) {
    grid-column: 7 / span 5;
  }
}