.image-full {
  @include wrapper;
  @include verticalPadding;
}

.image-full__container {
  @include grid;
  
}

.image-full__image {
  @include col(10, 2);
  box-shadow: 15px 15px $dark;
  @include media($s-screen-up) {
    box-shadow: 25px 25px $dark;
  }
}

.image-full__image img {
  box-shadow: 3px 3px $primary;
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include media($s-screen-up) {
    box-shadow: 5px 4px $primary;
  }
}
