.images {
  padding-bottom: calc(#{$gtr} * 3);
  @include media($m-screen-up) {
    padding-bottom: calc(#{$gtr} * 5);
  }
}

.images__container {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  gap: calc($gtr * 3);
  padding-bottom: rem(13);
  @include media($m-screen-up) {
    padding-bottom: rem(40);
  }
}