.images {
  @include verticalPadding;
}

.images__container {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  gap: calc($gutter * 3);
  padding-bottom: rem(13);
  @include media($m-screen-up) {
    padding-bottom: rem(40);
  }
}