.image-full {
  @include wrapper;
  padding-top: calc(#{$gtr} * 4);

  @include media($m-screen-up) {
    padding-top: calc(#{$gtr} * 5);
    padding-bottom: calc(#{$gtr} * 5);
  }
}

.image-full__container {
  @include grid;
}

.image-full__image {
  @include col(10, 2);
  box-shadow: rem(15) rem(15) $dark;
  @include media($s-screen-up) {
    box-shadow: rem(25) rem(25) $dark;
  }
}

.image-full__image img {
  box-shadow: rem(3) rem(3) $primary;
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include media($s-screen-up) {
    box-shadow: rem(5) rem(4) $primary;
  }
}
