.nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem 2rem;
  padding: 0;

    .no-js & {
    @include media($m-screen-down) {
      flex-direction: column;
      align-items: start;
    }
  }

  li {
    margin: 0.1rem;

    .no-js & {
      padding: calc($gutter * 0.5) 0;
     }
  }
}

.nav__link a {
  // @include hover-underline;
  font-size: rem(21);
}

.nav__button a {
  @include hover-underline--white;
  overflow: visible;
  font-size: rem(21);
}