.text-section {
  @include wrapper;
}

.text-section__container {
  @include grid;
  @include verticalPadding;
  @include rowGap(calc(#{$gtr} * 2));
  @include media($m-screen-up) {
    @include rowGap(calc(#{$gtr} * 3));
  }
}

.text-section__intro {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 4 / span 8;
  }
}

.text-section__copy {
  grid-column: 1 / span 12;
  @include media($m-screen-up) {
    grid-column: 6 / span 6;
  }
}