#blob-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $gradient-2;
  background: radial-gradient(circle, $gradient-2 0%, rgba(81,103,240,0) 30%);
  filter: blur(3rem);
}