#blob-container {
  position: absolute;
  top: 0;
  width: 450px;
  height: 450px;
  background: rgb(64,75,163);
  background: linear-gradient(184deg, rgba(64,75,163,1) 0%, rgba(81,103,240,0.2539390756302521) 100%);
  border-radius: 50%;
  filter: blur(3rem);
}