.button {
  @include buttonReset;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  @include media($m-screen-up) {
    font-size: rem(27);
  }
}

.button span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}

.button:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-1rem, 0, 0);
}

.button svg {
  position: absolute;
  width: 1.1em;
  right: 0;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.button:hover svg {
  opacity: 1;
  right: -2rem;
}