.plus {
  position: absolute;
  width: rem(75);
  top: rem(30);
  right: rem(30);
  z-index: -1;

  @include media($s-screen-up) {
    width: rem(120);
    right: rem(50);
    top: rem(50);
  }

  @include media($m-screen-up) {
    width: rem(180);
    right: rem(80);
  }

  @include media($l-screen-up) {
    right: rem(150);
  }
}

.plus svg {
  path {
    fill: #5167F0;
  }
}