.skip-link {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: $dark;
  color: $light;
  border: $border-primary;
  border-radius: $border-radius;
  text-decoration: none;
}

.skip-link:hover {
  background: $light;
  color: $dark;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}