.star {
  position: absolute;
  width: rem(100);
  left: rem(150);
  top: rem(400);
  z-index: -1;

  @include media($s-screen-up) {
    left: rem(350);
  }

  @include media($m-screen-up) {
    width: rem(200);
    left: rem(100);
    top: rem(350);
  }

  @include media($l-screen-up) {
    left: rem(150);
    top: rem(400);
  }
}

.star svg {
  path {
    fill: #404da3;
  }
}
