.star {
  position: absolute;
  width: 85px;
  left: 200px;
  top: 370px;
  z-index: -1;

  @include media($s-screen-up) {
    width: 100px;
    left: 250px;
    top: 450px;
  }

  @include media($m-screen-up) {
    width: 200px;
    right: 80px;
  }

  @include media($l-screen-up) {
    right: 200px;
  }
}

.star svg {

  path {
    fill: #404DA3;
  }
  
}