<section class="accordion-section">
  <div class="accordion-section__container">
    <h2>This is the accordion Header</h2>

    <div class="accordion">
      
      <div class="accordion__item">
        <button class="accordion__button js-accordion">Accordion Item Header
          <div class="accordion__icon">
            <span class="visually-hidden">Toggle accord</span>
          </div>
        </button>
        
        <div class="accordion__item-content js-accordion-content">
          <div class="accordion__item-content-container">
            <ul>
              {% for item in accordionContent1 %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

     <div class="accordion__item">
        <button class="accordion__button accordion__item-header js-accordion">Accordion Item 2 Header
          <div class="accordion__icon">
            <span class="visually-hidden">Toggle accord</span>
          </div>
        </button>
        
        <div class="accordion__item-content js-accordion-content">
          <div class="accordion__item-content-container">
            <ul>
              {% for item in accordionContent2 %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <button class="accordion__button js-accordion">Accordion Item 3 Header
          <div class="accordion__icon">
            <span class="visually-hidden">Toggle accord</span>
          </div>
        </button>
        
        <div class="accordion__item-content js-accordion-content">
          <div class="accordion__item-content-container">
            <ul>
              {% for item in accordionContent3 %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>