<section class="cv js-animate-in">
  <div class="cv__container">
    <h3 class="cv__header js-animate-in">Places I've worked</h3>
    <div class="cv__items">
      <div class="cv__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="cv__dates">Freelance: XXXX - XXXX</p>
    </div>
    <div class="cv__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="cv__dates">Freelance: XXXX - XXXX</p>
    </div>
    <div class="cv__position">
      <h4>Freelance Marketing Manager</h4>
      <p class="cv__dates">Freelance: XXXX - XXXX</p>
    </div>
    </div>
    
  </div>
</section>