<section class="cv">
  <h3>Place's I've worked</h3>
  <div class="cv__position">
    <h4>Freelance Marketing Manager</h4>
    <p>Freelance: XXXX - XXXX</p>
  </div>
  <div class="cv__position">
    <h4>Freelance Marketing Manager</h4>
    <p>Freelance: XXXX - XXXX</p>
  </div>
  <div class="cv__position">
    <h4>Freelance Marketing Manager</h4>
    <p>Freelance: XXXX - XXXX</p>
  </div>
</section>