<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
  &copy; 2023 Michelle Clement
    </div>

    <div class="footer__right">
      <ul class="footer__right-items">
        <li>
          <a href="/">Email</a>
        </li>
        <span class="footer__right-span">/</span>
        <li>
          <a href="https://www.linkedin.com/in/michellelclement/" target='_blank'>LinkedIn</a>
        </li>
        <span class="footer__right-span">/</span>
        <li>
          <a href="https://github.com/michellelclement" target='_blank'>GitHub</a>
        </li>
      </ul>
    </div>

  </div>
</footer>
