<header class="header" role="banner">
   <a href="#main-content" class="skip-link"><p>Skip to content</p></a>
   <div class="wrapper">
    <div class="header__inner">
      <a href="/" aria-label="ACME home" class="header__brand">MC.
      </a>
      <burger-menu max-width="600">
        {% include "partials/nav.njk" %}
      </burger-menu>
    </div>
  </div>
  <div class="divider"></div>
</header>
