<section class="hero hero--about">
  <div class="hero__container hero__container--about">
    
    <!-- Header -->
    <h1 class="hero__header-1 hero__header-1--about h1-medium">{{ heading }}</h1>
    
    <!-- Image -->
    <div class="hero__image--about">
      {% include "partials/image-oval-about.njk" %}
    </div>
    
    <!-- Subheading -->
    <div class="hero__cta--about js-animate-in">
      <p class="hero__sub-header--about js-animate-in">{{ subHeading }}</p>
      <a class="button hero__button--about js-animate-in" href="/">
        <span>
          {{ buttonText }}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </a>
    </div>

  </div>    
  <p class="hero__scroll p-small">Scroll for details</p>
</section>