<section class="hero">
  <div class="hero__container">
    <h1 class="hero__header-1 hero__text js-hero-animate-this">{{ heading1 }}</h1>
    <h1 class="hero__header-2 hero__text js-hero-animate-this">{{ heading2 }}</h1>
    <p class="hero__sub-header hero__text js-hero-animate-this">{{ subHeading }}</p>
  </div>
  <p class="hero__scroll js-hero-animate-this">Scroll for details</p>
</section>