<section class="hero-about">
  <div class="hero-about__container">
    <h1 class="hero-about__header">{{ heading }}</h1>
    <div class="hero-about__image">
      {% include "partials/image-oval-about.njk" %}
    </div>
    <div class="hero-about__sub-heading">
      <p>{{ subHeading }}</p>
      <a href="" class="button hero-about__button">
        <span>
          {{ buttonText }}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
        </span>
      </a>
    </div>
  </div>    
  <p class="hero-about__scroll p-small">Scroll for details</p>
</section>