<section class="hero">
  <div class="hero__container">
    <h1 class="hero__header-1 js-hero-animate-this">{{ heading1 }}</h1>
    <h1 class="hero__header-2 js-hero-animate-this">{{ heading2 }}</h1>
    <h2 class="hero__sub-header js-hero-animate-this">{{ subHeading }}</h2>
  </div>
  <p class="hero__scroll js-hero-animate-this">Scroll for details</p>
</section>