<section class="hero">
  <h1>{{ heading }}</h1>
  <div class="hero-about__image">
    {% include "partials/image-oval-about.njk" %}
  </div>
  <p>{{ subHeading }}</p>
  <a href="">{{ buttonText }}</a>
  <p>Scroll for details</p>
</section>