<section class="hero-alt">
  <div class="hero-alt__container">
    <h1 class="hero__header-1 hero-alt__heading js-animate-in">{{ header }}</h1>
    <p class="hero-alt__sub-header js-animate-in">{{ subheader }}</p>
  </div>
  <p class="hero-alt__scroll">Scroll for details</p>
</section>