<section class="hero-project">
  <div class="hero-project__container">
    <h1 class="hero__header-1 hero-project__heading js-animate-in">{{ header }}</h1>
    <p class="hero-project__sub-header js-animate-in">{{ subheader }}</p>
  </div>
  <p class="hero-project__scroll">Scroll for details</p>
</section>