<section class="image-full js-animate-in">
  <div class="image-full__container">
    <div class="image-full__image">
      <img src="/assets/images/{{ projectImage }}" alt="">
    </div>
  </div>
</section>