<div class="image-oval">
  <div class="image-oval__first image-oval__image">
    <img src="/assets/images/michelle.webp" alt="">
  </div>
  {# <div class="image-oval__second"></div>
  <div class="image-oval__third"></div> #}
</div>