<div class="images">
  <div class="images__container js-images__container">
    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/sea.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/morocco.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/scan.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/len.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/paddle.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/sea.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>

    <div class="images__image js-images__image">
      <div class="image-oval image-oval">
        <div class="image-oval__first image-oval__image">
          <img src="/assets/images/morocco.webp" alt="">
        </div>
        <div class="image-oval__second"></div>
        <div class="image-oval__third"></div>
      </div>
    </div>
  </div>
</div>