<nav class="nav" aria-label="primary">
  <ul role="list">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/training">Training</a>
    </li>
    <li>
      <a href="/#work">Work</a>
    </li>
    <li>
      <a href="#" class="button">Contact</a>
    </li>
  </ul>
</nav>