<nav class="nav" aria-label="primary">
  <ul role="list">
    <li class="nav__link">
      <a href="/about">About</a>
    </li>
    <li class="nav__link">
      <a href="/training">Training</a>
    </li>
    <li class="nav__link">
      <a href="/#work" >Work</a>
    </li>
    <li class="button nav__button">
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>