<section class="technologies">
  <div class="technologies__container">
    <h3 class="technologies__heading">{{ techHeading }}</h3>
    <p class="technologies__copy p-large">{{ techCopy }}</p>
  </div>
</section>