<section class="technologies">
  <div class="blob technologies__blob"></div>
  <div class="technologies__container">
    <h4 class="technologies__heading js-animate-in">Technologies, libraries & tools</h4>
    <p class="technologies__copy js-animate-in">{{ techCopy }}</p>
  </div>
</section>