<section class="text-section">
  <div class="text-section__container">
    <h2 class="text-section__intro">{{ introMain }}</h2>
    <div class="text-section__copy">
      <p>{{ introCopy }}</p>
      <p>{{ introCopyTwo }}</p>
    </div>
  </div>
</section>