<section class="text-section js-animate-in">
  <div class="text-section__container">
    <h2 class="text-section__intro" id="js-opening-copy">{{ openingText }}</h2>
    <div class="text-section__copy" id="js-text-copy">
      <p class="js-animate-in">{{ mainText }}</p>
      <p class="js-animate-in">{{ introCopyTwo }}</p>
    </div>
  </div>
</section>