<section class="text-section">
  <div class="text-section__container">
    <h2 class="text-section__intro" id="js-opening-copy">{{ openingText }}</h2>
    <div class="text-section__copy" id="js-text-copy">
      <p >{{ mainText }}</p>
      <p>{{ introCopyTwo }}</p>
    </div>
  </div>
</section>