<section class="work">
  <div class="work__container">

    {%- for project in collections.project -%}
    <div class="work__item">
      <a href="{{ project.url }}" class="work__image">
        <div class="work__image--container">
          <img src="/assets/images/{{ project.data.projectPreviewImg }}" alt="">
          <div class="button work__button">
            <span>
              Launch project<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.333 22.667 22.667 9.333M9.333 9.333h13.334v13.334"/></svg>
            </span>
          </div>
        </div>
      </a>
      <p class="work__title">{{ project.data.projectTitle }}</p>
      <p class="work__descrip p-small">{{ project.data.projectSubtitle }}</p>
    </div>
    {%- endfor -%}

  </div>
</section>