---
layout: default
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---
<div style="display: flex; flex-direction: column; align-items: center;
  padding: 80px;">
  <h1>Page not found</h1>
  <p>Go <a href="/"><strong>home</strong></a></p>
</div>
