---
layout: default
title: Home
heading: Hey!
subHeading: Nice to meet you.
buttonText: Let's grab a coffee
openingText: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
mainText: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
techCopy: HTML, CSS/SASS, JavaScript, GSAP, CraftCMS, GitHub
cta: Say hello!
---

{% include "partials/hero-about.njk" %}
<div class="divider"></div>
{% include "partials/text-section.njk" %}
<div class="blob"></div>
{% include "partials/technologies.njk" %}
{% include "partials/cv.njk" %}
{% include "partials/images.njk" %}
<div class="divider"></div>
{% include "partials/cta.njk" %}
<div class="divider"></div>