@mixin wrapper($verticalPadding: $gutter) {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: $gutter;

  @include media($m-screen-up) {
    padding: calc(#{$gutter} * 2);
  }

  @include media($l-screen-up) {
    padding-top: $verticalPadding;
    padding-bottom: $verticalPadding;
  }
}

@mixin verticalPadding {
  padding-top: calc(#{$gutter} * 3);
  padding-bottom: calc(#{$gutter} * 3);
  @include media($m-screen-up) {
    padding-top: calc(#{$gutter} * 5);
    padding-bottom: calc(#{$gutter} * 5);
  }
}

@mixin listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin buttonReset {
  display: inline-flex;
  background: $dark;
  color: $light;
  width: max-content;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: $border-radius;
  text-decoration: none;
  padding: rem(16) rem(32);
  font-size: rem(20);
  @include media($m-screen-up) {
    font-size: rem(27);
  }
}

@mixin svgPad($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: percentage($height/$width);
  }

  svg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}


//Headings

// @mixin h1Large {
//   font-size: rem(60);
//   line-height: 1.1;
//   font-weight: 800;
//   @include media($xs-screen-up) {
//     font-size: rem(90);
//   }
//   @include media($s-screen-up) {
//     font-size: rem(120);
//   }
//   @include media($m-screen-up) {
//     font-size: rem(150);
//   }
//   @include media($l-screen-up) {
//     font-size: rem(190);
//   }
//   @include media($xl-screen-up) {
//     font-size: rem(220);
//   }
// }

@mixin h1Medium {
  font-size: rem(90);
  line-height: 1.1;
  font-weight: 400;
  @include media($s-screen-up) {
    font-size: rem(120);
  }
  @include media($m-screen-up) {
    font-size: rem(150);
  }
  // @include media($l-screen-up) {
  //   font-size: rem(200);
  // }
}