@mixin wrapper($verticalPadding: $gutter) {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: $gutter;

  @include media($m-screen-up) {
    padding: calc(#{$gutter} * 2);
  }

  @include media($l-screen-up) {
    padding-top: $verticalPadding;
    padding-bottom: $verticalPadding;
  }
}

@mixin verticalPadding {
  padding-top: calc(#{$gutter} * 3);
  padding-bottom: calc(#{$gutter} * 3);
  @include media($m-screen-up) {
    padding-top: calc(#{$gutter} * 5);
    padding-bottom: calc(#{$gutter} * 5);
  }
}

@mixin listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin buttonReset {
  font-family: inherit;
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
}

@mixin svgPad($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: percentage($height/$width);
  }

  svg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

@mixin hover-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: black;
    bottom: -8px;
    transform: scale(0, 1);
    transition: transform .3s;
    transform-origin: left top;
  }

  &:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

@mixin hover-underline--white {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    bottom: -8px;
    transform: scale(0, 1);
    transition: transform .3s;
    transform-origin: left top;
  }

  &:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}