// Typography
$ff-main: 'DM Sans', sans-serif;

//Colors
$primary: #F08C69;
$gradient-1: #404DA3;
$gradient-2: #5167F0;
$dark: #000000;
$light: white;

// Spacing
$gtr-xs: rem(5);
$gtr-s: rem(10);
$gtr: rem(20);


// Sizes
$max-width: rem(1500);

// Borders
$border-width: rem(4);
$border-primary: $border-width solid $dark;
$border-radius: rem(30);