// Typography
$ff-main: 'DM Sans', sans-serif;

//Colors
$primary: #F08C69;
$gradient-1: #404DA3;
$gradient-2: #5167F0;
$dark: #000000;
$light: white;

// Spacing
$gutter-small: rem(10);
$gutter: rem(20);
$gutter-large: rem(40);

// Sizes
$max-width: rem(1400);

// Borders
$border-width: 4px;
$border-primary: $border-width solid $dark;
$border-radius: 30px;